<!--<% provide(:title,'Contact') %>-->
<h1>Contact</h1>
<p>
	This is the contact page for the 
	<a href="http://trueschool.co.in">TrueSchool</a>.
	Please feel free to contact us with any query you have.
</p>