<footer class="footer">
	<small>
		<a href="http://trueschool.co.in">TrueSchool</a>
		a place to learn
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://trueschool.co.in">News</a></li>
		</ul>
	</nav>
</footer>